.header {
  height: 10rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 55%,
    rgba(10, 1, 60, 0) 85%
  );
  position: sticky;
  top: 0;
  z-index: 2;
}

.header h1 {
  font-size: 3rem;
  color: #fff;
}

.content {
  height: 100%;
  display: grid;
  align-content: center;
  padding: 0 2rem;
  position: relative;
}
