.player {
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  padding: 0 0.5rem;
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.time {
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100%;
  font-size: 0.8rem;
  color: #9e9e9e;
}
