.player {
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  padding: 0 0.5rem;
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.time {
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100%;
  font-size: 0.8rem;
  color: #9e9e9e;
}

.controls {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

.button {
  cursor: pointer;
}

.progress {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.tracking {
  background-color: rgba(40, 103, 224, 0.2);
  height: 100%;
  width: 0;
  transition: width 0.5s linear;
}

.track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1rem;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cover {
  height: 3rem;
  width: 3rem;
}

.cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.artist {
  font-size: 0.8rem;
  color: #9e9e9e;
  margin-top: 0.5rem;
}
