.album {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.cover {
  height: 10rem;
  width: 10rem;
  position: relative;
}

.cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease;
}

.cover:hover:after {
  background-color: rgba(0, 0, 0, 0);
}

.meta {
  padding: 1rem 0rem;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.extra {
  font-size: 0.7rem;
  color: #9e9e9e;
  margin-top: 0.5rem;
}
